/* my-dialog.component.css */
:host {
    display: block;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

.form-group {
    display: flex; /* Display field name and input field in a row */
    align-items: center; /* Align items vertically */
    margin-bottom: 15px;
}

label {
    flex: 0 0 150px; /* Set fixed width for field name */
    margin-right: 10px;
}

label .imp {
    color: red; /* Style the asterisk indicating required fields */
}

input, select {
    flex: 1; /* Take remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23616161" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 24px auto;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    // margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;

}

button[type="submit"] {
    background-color: #007bff;
    color: white;
}

button[type="button"] {
    background-color: #dc3545;
    color: white;
}

.error {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px; /* Adjust the margin as needed */
}

.error-text {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}

.customer-buttons {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
    margin-top: 20px;
}

.customer-buttons button {
    // margin-right: 10px;
    border-radius: 5px;
}

.cancel {
    color: #007bff;
    cursor: pointer;
}
